##### Scraping Data from Transfermarkt

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

url = 'https://www.transfermarkt.com/premier-league/transfers/wettbewerb/GB1/plus/?saison_id=2018&s_w=&leihe=0&leihe=1&intern=0&intern=1'

response = requests.get(url, headers={'User-Agent': 'Custom5'})
print(response.status_code)
financial_data = response.text
soup = BeautifulSoup(financial_data, 'html.parser')

200

In [2]:
years_url = list(range(2004, 2022))

In [5]:
income_list = []
income_per_club_list = []
income_per_player_list = []
year_list = []

for year_url in years_url:

    url = 'https://www.transfermarkt.com/premier-league/transfers/wettbewerb/GB1/plus/?saison_id=' + str(year_url) + '&s_w=&leihe=0&leihe=1&intern=0&intern=1'

    response = requests.get(url, headers={'User-Agent': 'Custom5'})
    # print(response.status_code)
    financial_data = response.text
    soup = BeautifulSoup(financial_data, 'html.parser')

    grouped_data = soup.find('div', {'class': 'transferbilanz'})

    income = float(grouped_data.find_all('span', {'class': 'greentext'})[0].text.replace('€','').replace(',','')) * 0.89
    print(income)
    income_per_club = float(grouped_data.find_all('span', {'class': 'greentext'})[1].text.replace('€','').replace(',','')) * 0.89
    income_per_player = float(grouped_data.find_all('span', {'class': 'greentext'})[2].text.replace('€','').replace(',','')) * 0.89
    year = year_url

    income_list.append(income)
    income_per_club_list.append(income_per_club)
    income_per_player_list.append(income_per_player)
    year_list.append(year)

158687000.0
212354000.0
226037750.0
420719020.0
474445650.0
462061300.0
304776050.0
380166170.0
331551700.0
361573827.03000003
595591916.0
622204340.0
775962520.0
1195899230.0
513997055.09000003
831185240.0
405041821.3
702499250.0

In [6]:
finance_df = pd.DataFrame({'Year': year_list,
                           'Income': income_list,
                           'Income_per_club': income_per_club_list,
                           'Income_per_player': income_per_player_list
                            })

finance_df.to_csv('Income_euro_to_pounds.csv', index=False)

In [7]:
Income2004_2022_df = pd.read_csv('Income_euro_to_pounds.csv')

In [8]:
Income2004_2022_df

    Year        Income  Income_per_club  Income_per_player
0   2004  1.586870e+08       7934350.00          359020.66
1   2005  2.123540e+08      10617700.00          505604.55
2   2006  2.260378e+08      11301887.50          502306.21
3   2007  4.207190e+08      21035951.00          945436.32
4   2008  4.744456e+08      23722282.50         1088178.08
5   2009  4.620613e+08      23103065.00         1002301.98
6   2010  3.047760e+08      15238802.50          677280.21
7   2011  3.801662e+08      19008308.50          768012.15
8   2012  3.315517e+08      16577585.00          690732.56
9   2013  3.615738e+08      18078691.04          747053.54
10  2014  5.955919e+08      29779595.80         1136626.12
11  2015  6.222043e+08      31110217.00         1298964.79
12  2016  7.759625e+08      38798126.00         2031315.53
13  2017  1.195899e+09      59794961.50         3058565.99
14  2018  5.139971e+08      25699852.71         1331598.42
15  2019  8.311852e+08      41559262.00         2193100.62
16  2020  4.050418e+08      20252091.51         1180879.59
17  2021  7.024992e+08      35124962.50         2048102.71